.btn {
    display: block;
    padding: 20px 0;
    background: transparent;
    padding: 0 30px;
    font-size: 12px;
    line-height: 55px;
    font-weight: 600;
    letter-spacing: 0.2em;
    border-radius: 4px;
    text-transform: uppercase;
    transition: all 500ms ease;
    outline: none;
    border: none;

    &.btn-primary {
        background: var(--thm-primary);
        color: white;

        &:hover {
            color: var(--thm-black);
            background-color: #fff;
        }
    }

    &.btn-secondary {
        background: var(--thm-secondary);

          &:hover {
            color: var(--thm-black);
            background-color: #fff;
        }
    }
}